.exit{
  height: 200px;
  padding: 1px;
  border-radius: 8px;
  overflow: hidden;

  background-color: #FFFFFF;
  border: 1px solid #520a2c;
  cursor: pointer;
  justify-self: center;

  display: flex;
 
  
  .exit-content {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
  }

  span {
    padding: 9px 16px 0 12px;
    width: 40px;
    font-size: 14px;
    font-weight: 500;
  }
}